@using Microsoft.AspNetCore.Identity

<!DOCTYPE html>

@inject SignInManager<IdentityUser> SignInManager
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/content/site.css" />
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">

    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/content/site.js"></script>

    <title>@ViewBag.Title</title>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-controller="Home" asp-action="Index" class="navbar-brand">Simple Inventory Tracking</a></li>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <li><a asp-controller="Transaction" asp-action="Index" class="navbar-brand">All Transactions</a></li>
                    }
                </ul>


                @if (SignInManager.IsSignedIn(User))
                {
                    <form asp-area="" asp-controller="Account" asp-action="Logout" id="logoutForm"
                          method="post" class="navbar-right">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a>Hello @User.Identity.Name</a></li>
                            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log out</a></li>
                        </ul>
                    </form>
                }
                else
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li><a id="registerLink" asp-controller="Account" asp-action="Register">Register</a></li>
                        <li><a id="loginLink" asp-controller="Account" asp-action="Login">Log in</a></li>
                    </ul>
                }
            </div>
        </div>
    </nav>
    <div class="container body-content">
        <div class="row">
            @RenderBody()
        </div>
    </div>
    
</body>
</html>
